@model IList<Eletronics.WEB.Models.ProductSupplierScreenModel>

<div class="principal">
    <div class="container">
            
            <center><h2>Cadastro de Produtos</h2></center>
            <div class="cadastro-produtos">
                <br />
                <form role="form">

                    <div class="form-group">
                        <label for="txtproductname">Nome do produto:</label>
                        <input type="text" id="txtproductname" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="quantityavaiable">Quantidade Disponível</label>
                        <input type="number" id="quantityavaiable" min="0" max="9999999999" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txtproductdescription">Product Description:</label>
                        <input type="text" id="txtproductdescription" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="combofornecedor">Fornecedores</label>
                        <select id="combofornecedor" class="form-control">
                            <option></option>

                            @foreach (var supplier in Model)
                            {
                                <option value="@supplier.SupplierID">@supplier.SupplierName</option>
                            }

                        </select>
                    </div>
                    <button class="limpar btn btn-default">Limpar</button>
                    <button class="salvar btn btn-success">Salvar</button>
                </form>
            </div>
        
        <br />
        <script src="~/Scripts/jquery.mask.min.js"></script>
        @Scripts.Render("~/Product/crud")
    </div>
</div>
