@model IList<Eletronics.WEB.Models.SupplierTypeScreenModel>

<div class="principal">
    
    <center><h2>Cadastro de Fornecedores</h2></center>
    <div class="container">
        <div class="cadastro-fornecedor">
            <br />
            <form role="form">

                <div class="form-group">
                    <label for="txtcnpj">CNPJ:</label>
                    <input type="text" id="txtcnpj" class="cnpj form-control" />
                </div>

                <div class="form-group">
                    <label for="txtcorporationname">Nome da corporação:</label>
                    <input type="text" id="txtcorporationname" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="combotipofornecedor">Tipo:</label>
                    <select id="combotipofornecedor" class="form-control">
                        <option></option>
                        @foreach (var supplierType in Model)
                        {
                            <option value="@supplierType.SupplierTypeID">@supplierType.SupplierTypeDescription</option>
                        }
                    </select>
                </div>

                <button class="limpar btn btn-default">Limpar</button>
                <button class="salvar btn btn-success">Salvar</button>

            </form>
            
            <script src="~/Scripts/jquery.mask.min.js"></script>
            @Scripts.Render("~/Supplier/crud")
        </div>
    </div>
</div>
<br />